
@model IEnumerable<Lesson_01_Task_1.Models.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>
    <table border="1">
        <tr>
            <td>Id</td>
            <td>Name</td>
            <td>Price</td>
            <td>Description</td>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Price</td>
                <td>@item.Description</td>
            </tr>
        }
    </table>
</div>